/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
main.container{
      background-color: lightgray;
      color: black;
      padding: 32px;
}
.nav-link a:visited {color:green;}
span.fieldname{
  padding: 16px;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
  border-bottom: 16px solid;
  color: green;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
  border-top: 16px solid;
  color: red;
}


